/* our custom styles */
body {
  font-size: 14px;
  padding-top: 3rem;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #f1f1f1;
}
.outer-wrapper {
  flex: 1;
}
aside {
  width: 100%;
}
video, .responsive-img {
  max-width: 100%;
  height: auto;
}
footer {
  width: 100%;
}
// overrides default footer.plone.less
#portal-footer-wrapper {
  font-size: 1.25rem;
  padding: 15px;
  background-color: @plone-link-color !important;
  color: white;
  a {
    color: white;
    &:hover {
      color: lightgrey !important;
    }
    &.active {
      color: lightgrey !important;
      background-color: transparent;
      &:hover {
        background-color: transparent;
      }
    }
  }
}
ul#portal-siteactions {
  padding-inline-start: 0;
}
//////////////////////////////

//video_course_view
span.item.videoName {
  padding-left: 0;
}
.item {
  padding: 15px 15px;
}
.timeItem {
  padding-right: 15px;
}
i.timeItem {
  padding-right: 5px;
  height: 17px;
}
/*.time {
  margin-top: -13px;
}*/
#content {
  margin-top: 1.5rem;
}
#content-core a {
  border-bottom: 0px;
}
.tile-tile {
  height: 50px;
  margin-top: -2px;
}
.courseTitle {
  padding-bottom: 10px;
  padding-top: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}
/*.courseTitle::after {
  content: '';
  width: 40px;
  height: 3px;
  background-color: #20c997;
  display: block;
  border-radius: 2px;
  margin-top: 10px;
}*/
.lessonsChapter {
  padding-inline-start: 0 !important;
}
ul.lessonsChapter {
  margin-bottom: 1rem;
}
.lesson {
  list-style-type: none;
  border: 1px solid transparent;
  padding: 15px 0;
  background-color: #fafafa;
  font-size: 16px;
  //border-radius: 3px;
  margin-bottom: 2px!important;
}
a.fl .lesson:hover {
    background-color: white;
    border: 1px solid #007ab3;
    text-decoration: none!important;
}

.lessonsChapter a:hover{text-decoration: none!important;}


//video_view detail
h3.title {
  font-weight: 500;
  margin: 0;
  padding-bottom: 20px;
  font-size: 30px;
}
.widget {
  border: 1px solid #ebebeb;
  padding: 35px;
}
.widget:last-child {
  margin-bottom: 0;
}
aside {
  display: block;
}
.chapters-wrapper {
  list-style: none;
  padding: 0;
  margin: 0;
  > li {
      margin-bottom: 20px;
      > a {
        text-decoration: none!important;
        outline: 0!important;
      }
  }
  img {
    display: inline;
    margin-right: 10px;
  }
  .name {
    display: inline;
    font-weight: 500;
    font-size: 15px;
    color: #3e4555;
    margin: .8em 0;
  }
}
.video {
  margin: 2rem 0;
}
h1.documentFirstHeading {
  margin-top: 3rem;
}
.more_videos {
  margin: 2rem 0;
}
a.link-category {
  background-color: lightblue;
}
fieldset {
  border: none !important;
}

// homepage
.frontend.section-front-page #fullscreen-area {
  overflow: hidden;
  background-color: #fff;
  height: 100vh;
  position: relative;
  background-image: url(../fons.jpeg);
  background-size: cover;
  background-position: center center;
}
.frontend.section-front-page .documentFirstHeading {
  font-size: 60px;
  color: #fff;
  text-transform: uppercase;
  margin-top: 10%;
  line-height: 80px;
  font-weight: 700;
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
  letter-spacing: 10px;
  border-bottom: 0;
}
.frontend.section-front-page .content-container1 p {
    font-size: 15px;
    color: #fff;
    font-weight: 200;
    line-height: 28px;
    width: 50%;
}
.frontend.section-front-page a.see_more {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    display: inline-block;
    background: #007bb1;
    font-weight: 700;
    padding: 8px 30px;
    margin-top: 25px;
    border-radius: 50px;
    cursor: pointer;
    transition: all .4s ease;
}
.frontend.section-front-page a.see_more:hover {
  background: rgba(255, 255, 255, .1);
}

.frontend.section-front-page {
  #features-area {
    overflow: hidden;
    padding: 12rem 0;
    background: #f5f5f5;
  }
  .single-features {
    background-color: #f0f8ff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 35px;
    position: relative;
    box-shadow: 20px 0px 20px 0px rgba(1,0,0,0.1);
    transition: all .4s;
  }
  .single-features:hover {
    box-shadow: 20px 20px 20px 0px rgba(0,0,0,0.1);
  }
  .feature-icon .fa {
    font-size: 35px;
    color: #ffc107;
    margin-bottom: 20px;
    margin-right: 20px;
  }
  .single-features h4 {
    font-size: 16px;
    margin-bottom: 10px;
    color: #000;
    line-height: 32px;
    font-weight: 700;
    position: relative;
    text-transform: uppercase;
    z-index: 1;
    transition: all .4s;
    letter-spacing: 1px;
  }
  .single-features p {
    color: #8c8686;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    position: relative;
    z-index: 1;
    transition: all .4s;
  }
  #aboutus {
    overflow: hidden;
    padding: 120px 0 110px;
    background: #f0f8ff;
    display: flex;
    background-image: url(../nosaltres.jpg);
    background-size: cover;
    background-position: center center;
    position: relative;
    background-attachment: fixed;
  }
  #aboutus:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(14, 22, 38, .9);
  }
  .aboutus-text, .aboutus-img {
    position: relative;
    z-index: 1;
    margin-bottom: 50px;
    h3 {
      font-size: 50px;
      text-transform: uppercase;
      margin-bottom: 20px;
      color: #fff;
      font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    }
    p {
      font-size: 15px;
      color: #fff;
      line-height: 28px;
      font-weight: 400;
      margin-bottom: 15px;
    }
  }
}

.row::before, .row::after {
  display: none !important;
}
video, .mejs__container, .mejs__layer {
  width: 720px !important;
  height: 520px !important;
}
@media screen and (max-width: 1024px) {
  .more_videos {
    display: none;
  }
  .single-features {
      margin-bottom: 30px;
  }
}
@media screen and (max-width: 768px) {
  .frontend.section-front-page .feature-icon .fa {
    font-size: 30px;
  }
  video, .mejs__container, .mejs__layer {
    width: 660px !important;
    height: 460px !important;
  }
  header {
    padding-left: 15px;
  }
  #content-core {
    padding-left: 15px;
  }
  .col-lg-8.col-md-12.video {
    padding-left: 0px;
  }
  .col-lg-8.col-md-12.col-sm-12.col-xs-12.discussion.showCommenterImage {
    padding-right: 0px;
  }
  footer .col-xs-12.col-sm-12 {
    padding-right: 0px;
  }
}
@media screen and (max-width: 640px) {
  video, .mejs__container, .mejs__layer {
    width: 500px !important;
    height: 300px !important;
  }
}
@media screen and (max-width: 580px) {
  video, .mejs__container, .mejs__layer {
    width: 420px !important;
    height: 280px !important;
  }
  #portal-siteactions li {
    margin-left: 11px !important;
    margin-right: 11px !important;
  }
  .frontend.section-front-page .documentFirstHeading {
    margin-top: 100px;
    padding-left: 10px;
  }
  .frontend.section-front-page .content-container1 p {
    width: 100%;
    padding-left: 12px;
  }
}
@media screen and (max-width: 425px) {
  video, .mejs__container, .mejs__layer {
    width: 360px !important;
    height: 220px !important;
  }
  #content-core {
    padding-left: 0 !important;
  }
  .frontend.template-video_view .row .col-xs-12.col-sm-12 {
    padding-left: 11px;
  }
}
.pagination {
  display: inline-block !important;
  padding-left: 15px;
  padding-right: 0;
}
.pagination ul {
  padding-inline-start: 0;
}
.previous {
  float: left !important;
}
.next {
  float: right !important;
}
#commenting fieldset {
  margin: 0;
  padding: 0;
}
#commenting {
  margin-bottom: 50px;
}
